#Contact{
    margin:0;
    background-color: #354FAD;
}
#Contact h1{
    margin-left: 10px;
    text-decoration: underline;
}
#Contact p{
    color: white;
    font-size: 30px;
    margin-left: 10px;
}
#Contact #wish{
    color: white;
    text-align: center;
    font-size: 100px;
}