nav {
    position: fixed;
    top: 0px;
    background-color: #4067F3;
    height: 50px;
    width: 100%;
    margin: 0; /* Ensure no margin is added */
    padding: 0; /* Ensure no padding is added */
}
  
  nav a {
    /*font-family: 'Kalam';*/
    font-size: 22px;
    padding: 14px;
    font-style: bold italic;
    float: left;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
  }